{% extends "index.html" %}
{% block body %}

<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;"
        onclick="open_modal('{% url 'view_new_sale' %}')">Nueva Venta</button>
</div>

{% if sales %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">VENTAS REGISTRADAS</strong>
    </div>
    <div class="table order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Valor</th>
                    <th>Ciente</th>
                    <th>Fecha Emision</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sale in sales %}

                <tr>
                    <td>{{sale.id}}</td>
                    <td>{{sale.value_final}}</td>
                    <td>{{sale.client}}</td>
                    <td>{{sale.date}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning"
                            onclick="open_modal_edition('{% url 'view_edit_sales' sale.id %}')">Editar</button>
                    </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1>No existen VENTAS registradas</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
</script>

{% endblock body %}