{% extends "index.html" %}
{% block body %}

<div>
    <button class="btn btn-success" style="margin-bottom:4px !important;" onclick="open_modal('{% url 'view_new_store' %}')">Nueva Tienda</button>
</div>

{% if stores %}

<div class="card">
    <div class="card-header text-center" style="margin-top:4px !important;margin-bottom:4px !important;">
        <strong class="card-title" style="font-size:40px;">TIENDAS REGISTRADAS</strong>
    </div>
    <div class="table-stats order-table ov-h">
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Direccion</th>
                    <th>Telefono</th>
                    <th class="text-center">Opciones</th>
                </tr>
            </thead>
            <tbody>
                {% for store in stores %}

                <tr>
                    <td>{{store.id}}</td>
                    <td>{{store.name}}</td>
                    <td>{{store.direction}}</td>
                    <td>{{store.phone}}</td>
                    <td class="text-center">
                        <button class="btn btn-warning" onclick="open_modal_edition('{% url 'view_edit_stores' store.id %}')">Editar</button>
                        <button class="btn btn-danger" onclick="open_modal_delete('{% url 'view_delete_stores' store.id %}')">Eliminar</button>
                    </td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% else %}

<h1>No existen proveedores registrados</h1>

{% endif %}

<div class="modal face" id="new" role="dialog">
</div>
<div class="modal face" id="edition" role="dialog">
</div>
<div class="modal face" id="delete" role="dialog">
</div>

<script type="text/javascript">
    var $ = jQuery.noConflic();
    function open_modal(url) {
        $('#new').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_edition(url) {
        $('#edition').load(url, function () {
            $(this).modal('show')
        })
    }
    function open_modal_delete(url){
        $('#delete').load(url,function () {
            $(this).modal('show')
        })
    }
</script>

{% endblock body %}